

.header-map {
  background: url('../img/maps.png') no-repeat;
  height:350px;
  width:100%;
  background-position: 50% 50%;
  background-size:cover;
}

.social-icons-block-items_2 {
  background: #c9c9c9;
  opacity:0.9;
  padding:0 10px;
}

.section {

.user-nav-blocks_3 {
  margin-top:-40px;
}

}

.catalog-block_3 {

  .top-links-block {
    padding:0 30px;
  }

}

.main-catalog-block_2 {
  .brands-block {
    margin:0 0px;
  }
  padding:20px 0;
  .company-info-block_2 {
    padding:0 20px;
  }
   & .company-loc {
      & h3 {
        font-family: 'roboto';
        font-weight:900;
        font-size:18px;
      }
      & p {
        display: flex;
        font-family: 'roboto';
        font-size:12px;
        color:#777;
        line-height: 13px;
      }
      .loc-icon {
        background: url('../img/loc-icon.png') no-repeat;
        width:30px;
        height:30px;
        display: block;
      }
    }
    & .company-com {
      padding:0 0 30px 0;
      .tel-icon {
        background: url('../img/tel-icon.png') no-repeat;
        width:20px;
        height:15px;
        display: block;
      }
      .mail-icon {
        background: url('../img/mail-icon.png') no-repeat;
        width:20px;
        height:15px;
        display: block;
      }
      & a {
        font-family: 'roboto';
        font-size:20px;
        color:#333;
        padding-left:10px;
        font-weight:500;
      }
    }
    & .company-text {
      font-size:14px;
      font-family: 'roboto';
      line-height: 15px;
    }

   & .user-form-block {
    padding: 0 20px;
     & .user-form {
      margin-bottom:30px;
      & label {
        font-size:12px;
        font-family: 'roboto';
      }
      &-control {
        border:1px solid #efefef;
        font-size:12px;
        background: #fff;
        border-radius: 0px;
        padding:3px 15px 3px 15px;
      }
      }
    }
}

.social-links-block {
  margin:0;
}

@media only screen and (min-width: 320px) and (max-width:500px) {
  .brand-logo {
    width:100%;
  }

  }

  @media only screen and (min-width: 320px) and (max-width:992px) {
    .social-links-block_2 {
      padding:65px 0;
    }
  }

  @media only screen and (min-width: 320px) and (max-width:1020px) {
  .nav-side-menu_5 {
    margin:0 !important;
  }
}

  @media only screen and (min-width: 320px) and (max-width:420px) {
  .top-catalog-block {
    display: none;
  }
}

.menu {

.menu li>a {
    color: #333;
    font-weight: bold;
    font-size: 24px;
  }
  .item-menu {
    border-bottom: 1px solid #ccc;
    padding: 17px 0;
  }
  #sub-switch_1:checked+label {
    color: #007aff;
  }
  #sub-switch_2:checked+label {
    color: #007aff;
  }
  #sub-switch_3:checked+label {
    color: #007aff;
  }
  #sub-switch_4:checked+label {
    color: #007aff;
  }
  .sub-item {
    display: none;
  }
  .sub-item-switch {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
  }
  .sub-item li {
    border-bottom: 1px solid #ccc;
    padding: 17px 50px;
    margin: 0 0px;
  }
  .sub-item li:hover {
    opacity: 0.5;
  }
  .sub-item li:last-child {
    border-bottom: none;
  }
  .sub-item:last-child {
    padding-bottom: 0;
  }
  #sub-switch_1:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease-in-out;
  }
  @keyframes sub-menu {
    0% {
      transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60% {
      transform: translateY(-7%) scaleY(1.12);
    }
    75% {
      transform: translateY(3%);
    }
    100% {
      transform: translateY(0%) scale(1) scaleY(1);
    }
  }
  #sub-switch_2:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  #sub-switch_3:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  #sub-switch_4:checked~.sub-item {
    display: block;
    margin: 20px 0 -20px;
    background: #f5f5f5;
    animation: sub-menu 0.7s ease;
  }
  .static-item-menu {
    padding: 17px;
    border-bottom: 1px solid #ccc;
  }
  .static-item-menu:last-child {
    border-bottom: 0;
  }

}