

.btn:focus {
  display: none;
}
.header-back {
  background: url('../img/header-back-image_2.jpg') no-repeat;
  height:350px;
  width:100%;
  background-position: 50% 50%;
  background-size:cover;
}

.product-info-block {
  & h2 {
    font-size: 24px;
    font-weight:800;
    font-family: 'roboto';
    margin:0;
  }
  .stars-block {
    align-items:center;
    display: flex;
    & i {
      font-size:9px;
      width:2.8%;
      padding:0;
    }
    .grey {
      color:#afada7;
    }
    & a {
      font-family: 'roboto';
      font-size:12px;
      color:#353535;
    }
    & span{
      font-size:14px;
      padding:0 5px;
    }
  }
  .item-info-block {
    position: relative;
    &::after {
      content: '';
      border-bottom:1px solid #e4e4e4;
      position: absolute;
      width:85%;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
    padding:20px 0;
    .item-price {
      font-weight:700;
      font-size: 22px;
      font-family: 'roboto';
      font-style: italic;
    }
    .right-item-info-items {
      & span {
        font-family: 'roboto';
        font-size: 12px;
        color:#666669;
      }
      & a {
        font-family: 'roboto';
        font-size:12px;
        color:#111;
        font-weight: bold;
      }
    }
}

  .item-text-description {
    padding:15px 0 15px 0;
    position: relative;
    &::after {
      content: '';
      border-bottom:1px solid #e4e4e4;
      position: absolute;
      width:85%;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
      & h3 {
        font-family: 'roboto';
        font-size:14px;
        font-weight: bold;
        color:#353535;
      }
      & p {
        font-size:12px;
        font-family: 'roboto';
        line-height: 14px;
        margin:0;
        color:#707070;
      }
  }
  .item-size {
    padding:15px 0 15px 0;
    position: relative;
    &::after {
      content: '';
      border-bottom:1px solid #e4e4e4;
      position: absolute;
      width:85%;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
    & h3 {
      font-weight:bold;
      font-size:14px;
      font-family: 'roboto';
    }
    & ul {
      padding:0;
      margin: 0;
      & li {
        margin-right:10px;
        & a {
          padding:6px 6px;
          display: block;
          color:#333;
          font-weight:400;
          font-family: 'roboto';
          font-size:12px;
          text-decoration: none;
          background: #fff;
          &:hover {
            color:#ff0000;
            background: none;
          }
        }
      }
    }
  }
  .item-length {
    position: relative;
    padding:15px 0 15px 0;
    &::after {
      content: '';
      border-bottom:1px solid #e4e4e4;
      position: absolute;
      width:85%;
      bottom:0;
      left:50%;
      transform:translateX(-50%);
    }
    & h3 {
      font-weight:bold;
      font-size:14px;
      font-family: 'roboto';
    }
    & ul {
      padding:0;
      margin:0;
      & li {
        margin-right:10px;
          & a {
          padding:6px 6px;
          color:#333;
          display: block;
          font-weight:400;
          font-family: 'roboto';
          font-size:12px;
          background: #fff;
          &:hover {
            color:#ff0000;
            background: none;
          }
        }
      }
    }
  }
  .product-controls-block {
    padding:15px 0 0;
  }

  .item-count-block {
    & h3 {
      font-size:12px;
      font-family: 'roboto';
      font-weight: bold;
    }
  }
  .count-ind {
    background: #fff;
    display: inline-block;
    width:30px;
    height:30px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #efefef;
    color:#a8a8a8;
    font-family: 'roboto';
    font-size:12px;
  }
  .add {
    padding-left:5px;
    cursor: pointer;
  }

  .product-add-button {
    & a {
      background: #fb4d01;
      border-radius: 0px;
      color:#fff;
      font-family: 'roboto';
      font-size:16px;
      padding:10px 10px;
      &:hover {
        background: #faef03;
        color:#333;
      }
    }
  }

  .user-product-controls-block {
    & a {
      color:#333;
      font-weight:800;
      font-size:12px;
      font-family: 'roboto';
    }

  }

}

.user-product-carousel-block {
  .radio-buttons {
    display: block;
    padding:30px 0;
    position: inherit;
    margin:0;
    bottom:0;
    text-align: center;
    &-item {
      width:70px;
      text-indent: 0;
      padding:0;
      border-radius: 0;
      height:110px;
      border:2px solid transparent !important;
      & img {
        width:100%;
        height:100%;
      }
      &:nth-child(2n) {
        margin:0 30px;
      }
    }
    .active {
    border:2px solid red !important;
  }
    }
  .content-carousel {
    & img {
      max-width:100%;
      height:375px;
    }
  }
  .carousel-cotrol-button {
    top:inherit;
    height:110px;
    bottom:6%;
    z-index:100;
  }
  .controls-button-icon_01 {
    background: url('../img/controls-button-icon_02.png') no-repeat;
    background-size: auto auto;
    width:15px;
    height:45px;
  }
  .controls-button-icon_02 {
    background: url('../img/controls-button-icon_01.png') no-repeat;
    background-size: auto auto;
    width:15px;
    height:45px;
  }
}

  .product-tabs-description-block {
    padding:50px 0;
    &-items {
        padding-left:15px;
      & li {
        & a {
          font-size:12px;
          font-family: 'roboto';
          font-weight:800;
          padding: 6px 13px;
          color:#333;
        &:hover {
          background: #26d2fc;
          color:#333;
        }
    }
      }
      & .active {
        background: #26d2fc;
        color:#333;
      }
    }

    .tab-content {
      border:1px solid #dad8d8;
      padding:10px 10px 0px 10px;
      & p {
        font-size:11px;
        color:#808080;
        font-family: 'PT Sans';
      }
      & ul {
        padding:0;
        & li {
          font-size:12px;
          font-family: 'PT Sans';
          color::#808080;
        }
      }
    }

  }


.sliders-section_3 {
  position: relative;
  padding:0;
  .top-slider {
    h2 {
      font-weight:900;
      font-size:30px;
      color:#333;
    }
  }
  .carousel-cotrol-button {
    width:40px;
    height:40px;
    position: absolute;
    opacity: 1;
    background: #26d2fc;
    top:70%;
    transform:translateY(-50%);
    transition:1s all;
    z-index:10;
    &:hover{
      background: #faef03;
    }
  }
  .carousel-cotrol-button_2 {
    background: #faef03;
    &:hover {
      background: #cb2027;
    }
  }
  .controls-button-icon_1 {
    background: url('../img/controls-button-icon_001.png') no-repeat;
    width:15px;
    height:35px;
  }
  .controls-button-icon_2 {
    background: url('../img/controls-button-icon_002.png') no-repeat;
    width:15px;
    height:35px;
  }
}

.slider_5 {
  padding-top:85px;
}


  @media only screen and (min-width: 320px) and (max-width:350px) {
  .user-product-carousel-block {

  .radio-buttons-item:nth-child(2n) {
    margin:0 15px;
  }
}
}

 @media only screen and (min-width: 320px) and (max-width:900px) {
  .user-product-carousel-block {
  .carousel-cotrol-button {
    display: none;
  }
}
}

 @media only screen and (min-width: 320px) and (max-width:575px) {
  .slider-section_3 {
  .catalog-slider-wrapper  {
     .catalog-item:nth-child(2n) {
      display: none;
    }
  }
  }

}